@charset "UTF-8";
/*NÃO SE ESQUECER DE COLOCAR A TAG "MAIN" NO BODY EM HTML*/

*{
    font-family: Arial, Helvetica, sans-serif;
  
}

body {
    background-image: linear-gradient(to left, #e48e5c, #ebc8b2 );
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #a78774a9;
    width: 500px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#F39209 ;
    text-align: center;
    text-shadow: 1px 1px 1px #be72079c ; /* Sombra */
}
h2{
    text-align: center;
    color:#1661A4 ;
}

p{
    text-align: justify;
}